.nabbar{
    list-style: none;
    background-color: rgb(241, 115, 182);
    color: rgba(255, 255, 255, 0.944);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: initial;
    font-size: medium;
    display: inline;
}